<!--navigation menu-->
<div id="navigation">
    <ul id="navigation_bar">
        <li id="navigation_li"><a id="homeActive" href="../home.php#home">Home</a></li>
        <li id="navigation_li"><a id="insertionSortActive" href="../InsertionSort.html#InsertionSort">Insertion Sort</a>
        </li>
        <li id="navigation_li"><a id="bubbleSortActive" href="../BubbleSort.html#BubbleSort">Bubble Sort</a></li>
        <li id="navigation_li"><a id="selectionSortActive" href="../SelectionSort.html#SelectionSort">Selection Sort</a>
        </li>
        <div class="menuLeft">
            <button class="menuButton">Exercise</button>
            <div class="menuContent">
                <a id="insertionSortExActive" href="./InsertionSortEx.html#InsertionEx">Insertion Sort</a>
                <a id="bubbleSortExActive" href="./BubbleSortEx.html#BubbleEx">Bubble Sort</a>
                <a id="selectionSortExActive" href="./SelectionSortEx.html#SelectionEx">Selection Sort</a>
            </div>
        </div>

        <div class="menuRight">
            <button class="menuButton">Information</button>
            <div class="menuContent">
                <a id="profileActive" href="../Profile.php#profile">Profile</a>
                <a href="../logoutHandling.php">Logout</a>
            </div>
        </div>
    </ul>
</div>